.changePass {
  display: flex;
  flex-direction: column;
  .password {
    border: 1px solid black;
    height: 25px;
    width: 250px;
    padding: 5px 15px 5px 15px;
    &:not(last-child) {
      margin-bottom: 15px;
    }
  }
}

