.Header {
  width: 100%;
  background-color: #322e2f;
  border-radius: 10px 10px 0 0;
  height: 40px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  *:not(last-child) {
    margin-right: 15px;
  }
}