.header {
  font-weight: bold;
  background-color: #322e2f;
  height: 100px;
  .content {
    width: 1600px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .routes {
    font-size: 16px;
    font-weight: normal;
    color: white;
  }
  .routes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    *:visited {
      color: inherit;
    }
    *:active, *:focus, *:target {
      color: white;
    }
    *:not(last-child) {
      margin-right: 40px;
    }

  }
}